:root {
  --color-main-foreground: #FEFFFE;
  --color-dark: #333333;
  --color-semi-dark: #464646;

  --color-green-grass: #74B44A;
  --color-green-grass-transparent: #74B44A50;
  --color-green-grass-light: #93C263;
  --color-green-grass-dark: #509026;
  
  --color-brown-dark: #79553A; /*#55423A*/
  --color-brown-light: #966C4A;

  --color-gray-stone-light: #8F8F8F;
  --color-gray-silver: #F6F8FA;
  --color-gray-steel: #DDDDDD;
}