:root {
  --color-main-foreground: #FEFFFE;
  --color-dark: #333333;
  --color-semi-dark: #464646;

  --color-green-grass: #74B44A;
  --color-green-grass-transparent: #74B44A50;
  --color-green-grass-light: #93C263;
  --color-green-grass-dark: #509026;
  --color-green-emerald-light: #D9FFEB;
  --color-green-emerald-semi-light: #41F384;
  --color-green-emerald-semi-dark: #1C9829; /*17DD62*/
  --color-green-emerald-dark: #007B18;

  --color-green-grass-1: #73B349;
  --color-green-grass-light-1: #97C667;
  --color-green-grass-dark-1: #6BA81C;

  --color-brown-dark: #79553A; /*#55423A*/
  --color-brown-light: #966C4A;

  --color-gray-stone-light: #8F8F8F;
  --color-gray-silver: #F6F8FA;
  --color-gray-steel: #DDDDDD;

  --color-minecraft-chat-§4: #AA0000;
  --color-minecraft-chat-§c: #FF5555;
  --color-minecraft-chat-§6: #FFAA00;
  --color-minecraft-chat-§e: #FFFF55;
  --color-minecraft-chat-§2: #00AA00;
  --color-minecraft-chat-§a: #55FF55;
  --color-minecraft-chat-§b: #55FFFF;
  --color-minecraft-chat-§3: #00AAAA;
  --color-minecraft-chat-§1: #0000AA;
  --color-minecraft-chat-§9: #5555FF;
  --color-minecraft-chat-§d: #FF55FF;
  --color-minecraft-chat-§5: #AA00AA;
  --color-minecraft-chat-§f: #FFFFFF;
  --color-minecraft-chat-§7: #AAAAAA;
  --color-minecraft-chat-§8: #555555;
  --color-minecraft-chat-§0: #000000;

  --color-main-font: #444444;
  --color-main-font-light: var(--color-main-foreground);
}
