p, a, span, i, label, button, input, li {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: var(--color-main-font);
}

h1, h2, h3 {
    font-family: 'Minecraft';
    color: var(--color-main-font);
    padding-bottom: 20px;
}

h1 {
    font-weight: 900;
    font-size: 20px;
}

h2 {
    font-weight: 900;
    font-size: 16px;
}

h3 {
    font-weight: 500;
    font-size: 14px;
}

.button {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
  
    outline: none;
    user-select: none;
    cursor: pointer;
  
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
  
    font-family: 'Minecraft';
    background-color: transparent;
  
    transition-property: box-shadow, border, background-color, padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }